@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    /* Light theme */
    --background: 237 60% 90%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
 
    /* Pelorus - Teal as Primary */
    --primary: 181 51% 50%;
    --primary-foreground: 355.7 100% 97.3%;
 
    /* Medium Purple as Secondary */
    --secondary: 255 75% 64%;
    --secondary-foreground: 355.7 100% 97.3%;

    /* Minsk - Dark Purple as Tertiary */
    --tertiary: 264 45% 34%;
    --tertiary-foreground: 355.7 100% 97.3%;
 
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
 
    --accent: 181 51% 50%;
    --accent-foreground: 240 5.9% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 181 51% 50%;
 
    --radius: 0.5rem;

    --color-accent-torch: theme(colors.blue.700/0.15);
  }
 
  .dark {
    /* Dark theme */
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
 
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    /* Adjusted for dark mode visibility */
    --primary: 181 51% 60%;
    --primary-foreground: 240 5.9% 10%;
 
    --secondary: 255 75% 74%;
    --secondary-foreground: 240 5.9% 10%;

    --tertiary: 264 45% 44%;
    --tertiary-foreground: 0 0% 98%;
 
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
 
    --accent: 181 51% 60%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 181 51% 60%;
    --color-accent-torch: theme(colors.blue.700/0.15);
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  html {
    font-family: Raleway, system-ui, sans-serif;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.wallet-adapter-dropdown >  .wallet-adapter-dropdown-list-active {
  z-index: 2000;
  transform: translateY(-200px);
}

.data-radix-popper-content-wrapper {
  z-index: 2000;
}